{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">

                    <h2>About</h2>
                    <p style="float:left;">
                        <img src="/static/img/hive-red.png" style="width: 200px !important; height: 200px !important;">
                    </p>
                    <p>
                        In a world obsessed with political correctness,
                        some thoughts are better left anon.</p>

                    <p>What if you had a place to share those thoughts, ideas, or ramblings? A place you could start a
                        fun, but perhaps taboo, conversation without the worry of it being attached to your name. </p>

                    <p>Or maybe even a confession you want to tell the world, but don’t want to worry about your
                        reputation?</p>
                    <p>
                        AnonRamblings - a place to share your inner thoughts, with the protection of anonymity.
                    </p>

                    <h3>Tech Talk</h3>
                    <p>
                        AnonRamblings is an open-source project. The code base is publicly available at <a href="https://github.com/emre/anonramblings">@emre/anonramblings</a>. </p>

                    <p>All content
                        posted from this website is stored at HIVE blockchain under the <a href="https://hive.blog/@anonramblingscom" target="_blank">@anonramblingscom</a> account. You can also browse the posts from your favorite HIVE interface.
                    </p>


                </div>

            </div>
        </div>
    </div>



{% endblock %}