{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">

                    <h5>{{post.title}}</h5>

                    {{ post.formatted_body| safe }}

       <p class="post-meta">Posted on {{ post.created_at }}<small>(<a href="https://hiveblocks.com/@{{poster_account}}/{{ post.permlink }}">Blockchain reference</a>)</small></p>
                </div>



            </div>
        </div>
    </div>



{% endblock %}